<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="Test">
    <classes>
      <class name="TestCaseRepo.TestC_006"/>
      <class name="TestCaseRepo.TestC_004"/>
      <class name="TestCaseRepo.TestC_003"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
